<h2>Поступила новая заявка с icdc.io</h2>

<table>
  <tr>
    <th>Имя пользователя</th>
    <td><%= @user[:name] %></td>
  </tr>
  <tr>
    <th>Почта</th>
    <td><%= @user[:email] %></td>
  </tr>
  <tr>
    <th>Телефон</th>
    <td><%= @user[:phone] %></td>
  </tr>
  <tr>
    <th>Компания</th>
    <td><%= @user[:language] %></td>
  <tr>
    <tr>
    <th>Комментарий</th>
    <td><%= @user[:comment] %></td>
  <tr>
  <tr>
    <tr>
    <th>Язык</th>
    <td><%= @user[:language] %></td>
  <tr>
</table>
